.nav__item {
  @extend %nav__item;
  @include mq (desktop) {
    margin-right: 1rem;
    padding: 0.5rem 1rem;
  }
  a {
    @include mq (desktop) {
      padding: 0;
    }
    display: block;
    color: $text-color;
    font-weight: 400;
    width: 100%;
    height: 100%;
    padding: 1rem 0;
    &:hover {
      color: white;
    }
  }
}

.nav {
  @include mq (desktop) {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
  }
}
